
/* mobile media query */
@media screen and (min-width: 375px){
    
   
    .header-nav .fa-solid{
        display: inline-block;
    }
}
/* tablet media query */

@media screen and (min-width: 768px){
    
    .first-section{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
    }
    .first-section img{
        align-self: flex-start;
        
    }
    .container{
        width: 32%;
        
    }
    .specialcontainer{
        width: 66%;
        height: 510px;
        padding-bottom: 0;
        align-items: flex-start;
        
        
    }
    .row{
        min-height: 510px;
        justify-content: flex-start;
    }
    .second-section-container{
        width: 90%;
    }
    .second-section-card{
        width: 90%;
    }
    .third-section-card{
        width: 90%;
        flex-direction: row;
        align-items: center;
        
        padding: 2em 0.5em;
        
    }
    .third-section-content{
        width: 90%;
        text-align: left;
        
        
    }
    .round-cont{

        
    }
    .fourth-section-direction{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: auto;
    }
    .fourth-container-card{
        width: 47%;
        
    }
    .fifth-section{
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        
    }
    .text1{
        width: 50%;
        flex-direction: column;
    }
    .text{
        flex-direction: column;
        width: 30%;
    }
    .sixth-container{
        width: 35%;
    }
    .footer-container{
        width: 30%;
    }
}


/* desktop media query */

@media screen and (min-width: 1160px){
    
    .header-nav li{
        display: inline-block;
    }
    .header-nav button{
        display: inline-block;
    }
    .header-nav .fa-solid{
        display: none;
    }
    .header-container{
        width: 60%;
    }
    .first-section{
        width: 60%;
    }
    .second-section{
        flex-direction: row;
        padding: 0 0 2em 0;
        height: 800px;
    }
    .second-section-container{
        width: 25%;
        font-size: 12px;
        margin-right: 1em;
    }
    .whiteplan{
        width: 25%;
        font-size: 12px;
        align-self: flex-end;
    }
    .whiteplan img{
        width: 80%;
    }
    .second-section-card{
        width: 60%;
    }
    .third-section-card{
        width: 60%;
    }
    .third-section-content{
        width: 60%;
    }
    .fourth-section-direction{
        width: 60%;
    }
    .fourth-container-card{
        width: calc(100% / 3 - 1em);
    }
    .fifth-section{
        width: 50%;
    }
    .cardquote{
        text-align: left;
        
    }
    .sixth-container{
        width: 25%;
    }
    .footer-container{
        width: 20%;
    }
}