*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex{
    display: flex;
}
header{
    width: 100%;
    background-color: cornflowerblue;
    height: 60px;
}
.header-logo{
    height: 30px;
}
.header-container{
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 100%;
}
header li{
    display: none;
    text-decoration: none;
}
.header-nav button{
    display: none;
    background-color: white;
    border-radius: 15px;
    border: none;
    padding: 7px;
}
.header-nav{
    color: white;
}



.first-section{
    width: 80%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 3em auto 0 auto;
}

.specialcontainer{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 2em 2em 0 2em;
}
.container{
    width: 100%;
    min-height: 100px;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #85DDFF;
    padding: 2em;
}
.firstSection-img img{
    height: 300px;
}
.firstSection-img{
    justify-content: center;
}

.planningimg{
    max-height: 300px;
}

.second-section{
    flex-direction: column;
    width: 100%;
    margin: 3em auto 0;
    padding: 3em 0;
    min-height: 100px;
    align-items: center;
    justify-content: center;
}
.second-section-container{
    text-align: center;
    width: 80%;
    
    
}
.whiteplan{
    background-color: white;
    width: 80%;
    border-radius: 15px;
    padding: 1em;
    text-align: center;
}
.round-btn{
    border-radius: 50%;
    border-style: none;
    width: 50px;
    height: 50px;
    margin-top: 3em;
}
.third-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em auto 3em;
    min-height: 100px;
}

.round-cont img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 2em;
    object-fit: cover;
    margin-left: 1em;
    
}

.cardquote{
    max-width: 70%;
    
}

.third-section-card{
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    background-color: rgb(184, 108, 255);
    margin: 1em 0 1em 0;
    border-radius: 15px;
}
.cardcontent{
    width: 70%;
}
.third-section-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}
.fourth-section{
    background-color: rgb(184, 108, 255);
    width: 100%;
}
.fourth-section-direction{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}
.fourth-subtitle-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.fourth-container-card{
    min-height: 100px;
    background-color: white;
    width: 80%;
    margin: 1em 0;
    border-radius: 15px;
    flex-direction: column;
    padding: 2em;
}
.fifth-section{
    width: 80%;
    margin: auto;
    padding: 4em 0 2em 0;
    flex-direction: column;
}
.fifth-round img{
    position: relative;
    display: block;
}
.text{
    flex-wrap: wrap;
}
.text1{
    flex-wrap: wrap;
}
.quoteSpec{
    position: absolute;
    top: 20px;
    
}
.round-cont{
    position: relative;
}
.sixth-section{
    width: 100%;
    background-color: rgb(184, 108, 255);
    padding: 3em 0 3em;
}
.sixth-container{
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.sixth-section button{
    border-style: none;
    padding: 10px 15px;
    height: 50px;
    width: 220px;
    border-radius: 25px;
    font-weight: 700;
   

}
footer{
    height: 150px;
    color: white;
    background-color: rgb(35, 35, 35);
    padding: 2em 0;
}
.footer-container{
    margin: auto;
    width: 80%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  
}


